﻿@{
    ViewBag.Title = "Contact";
}

@Html.Partial("_BannerPartial")

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<br />
@Html.ActionLink("Send A Message", "SendMessage", "Message", null, new { @class = "btn btn-primary" })
<br />

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>