﻿@{
    ViewBag.Title = "Home Page";
}
<div class="holder"></div>
<div class="main" id="itemContainer">

    <div class="row">
        <div id="errormsg"></div>
    </div>
    <div class="row">
        <div id="posts" class="col-md-12">
            @*<div id="post-postId" class="post-postId">
                    <div class="post-teaser">
                        <div class="post-header">
                            <h1>Title</h1>
                            <p>Sarah | <span class="date-string">Date</span> | <span id="category-name" class="category-name">Category</span></p>
                        </div>
                        <div class="post-summary">
                            <p>Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon broccoli Ipsem lorem bacon peas and carrots.</p>
                        </div>
                        <div class="post-footer">
                            <p><span id="tag-keywords" class="tag-keywords">bacon, broccoli, peas and carrots</span></p>

                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    @*<button id="button" class="btn btn-danger post-teaser-btn">Continue Reading</button>*@
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Newer</a></li>
                <li class="next"><a href="#">Older &rarr;</a></li>
            </ul>
        </div>
    </div>
    @if (Request.IsAuthenticated && (User.IsInRole("User") || (User.IsInRole("SuperUser"))))
    {
        <div class="row">
            <div class="admin">
                <div class="new-post-entry blog-posts">
                    @Html.Partial("_PostInputPartial")
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    @*@if (Request.IsAuthenticated && (User.IsInRole("User") || (User.IsInRole("SuperUser"))))
        {
            <script src="~/Scripts/app/CreatePost.js"></script>
        }*@

    <script>

        function wrapContent(id) {
            $("#wrapper" + id).dotdotdot({
                ellipsis: '... ',
                wrap: 'word',
                fallbackToLetter: true,
                /*    jQuery-selector for the element to keep and put after the ellipsis. */
                after: "a.readmore",
                /*    Whether to update the ellipsis: true/'window' */
                watch: "window",
                height: 100,
                tolerance: 0,
                callback: function (isTruncated, orgContent) { },
                lastCharacter: {
                    remove: [' ', ',', ';', '.', '!', '?'],
                    noEllipsis: []
                }
            });
        }

    </script>


    <script>
        var postUri = '/api/posts/';

        function destroyClick(n) {
            $("#wrapper" + n).trigger("destroy");
            $('#btn' + n).remove();
            $(createButton(n)).appendTo($('#bodyWrap' + n));
        }

        function createButton(n) {
            return '<button id="btn' + n + '"onClick="createClick(' + n + ')" class="btn btn-xs btn-warning post-teaser-btn">Read Less</button>';
        }

        function createMoreButton(n) {
            return '<button id="btn' + n + '"onClick="destroyClick(' + n + ')" class="btn btn-xs btn-danger post-teaser-btn">Read More</button>';
        }

        function createClick(n) {
            wrapContent(n);
            $('#btn' + n).remove();
            $(createMoreButton(n)).appendTo($('#bodyWrap' + n));
        }

    </script>

    <script>
        var postUri = '/api/posts/';
        var pageNum = 1;
        var totalPostNum;
        var maxPage;
        var checkNum = 0;

        var data = {
            id: pageNum,
            size: 5,
            status: 4
        };

        $(document).ready(function () {
            checkNum = 0;
            getAllPosts(data);

            $('.next').click(function () {
                if (maxPage != pageNum) {
                    pageNum++;
                    data.id = pageNum;
                    getAllPosts(data);
                }
            });
            $('.previous').click(function () {
                if (pageNum > 1) {
                    pageNum--;
                    data.id = pageNum;
                    getAllPosts(data);
                }

            });

            loadCloud();
            $(document).on("click", "#PostsByTag", function () {
                var btn = $(this);
                pageNum = 1;
                getTagPosts(btn.data('tagName'));
            });
        });



        function getAllPosts(n) {
            $.getJSON(postUri + 'get/', n).done(function (data) {
                $('#posts').empty();
                totalPostNum = data.Total;
                maxPage = Math.floor(totalPostNum / 5);
                if (totalPostNum % 5 > 0) {
                    maxPage++;
                }
                $.each(data.Posts, function (index, post) {
                    $(createDiv(post)).appendTo($('#posts'));
                    wrapContent(post.PostId);

                });
            });
        };

        function getTagPosts(tag) {
            $.getJSON(postUri + 'GetPostsByTag/' + encodeURIComponent(tag)).done(function (data) {
                $('#posts').empty();
                $.each(data, function (index, post) {
                    $(createDiv(post)).appendTo($('#posts'));
                    wrapContent(post.PostId);
                });

            });
        };

        function loadCloud() {
            $.getJSON("/api/TagCloud/get/")
                .done(function (data) {
                    createCloud(data);
                });
        };

        function createCloud(data) {
            for (var i = 0; i < data.length / 2; i++) {
                if (data[(data.length / 2) + i] >= 8) {
                    $(".tag-cloud").append($("<button id='PostsByTag' class=\"tag-cloud-mock-5 btn\">").text(data[i] + " ").data('tagName', data[i]));
                }
                if (data[(data.length / 2) + i] >= 6 && data[(data.length / 2) + i] < 8) {
                    $(".tag-cloud").append($("<button id='PostsByTag' class=\"tag-cloud-mock-4 btn\">").text(data[i] + " ").data('tagName', data[i]));
                }
                if (data[(data.length / 2) + i] >= 4 && data[(data.length / 2) + i] < 6) {
                    $(".tag-cloud").append($("<button id='PostsByTag' class=\"tag-cloud-mock-3 btn\">").text(data[i] + " ").data('tagName', data[i]));
                }
                if (data[(data.length / 2) + i] >= 2 && data[(data.length / 2) + i] < 4) {
                    $(".tag-cloud").append($("<button id='PostsByTag' class=\"tag-cloud-mock-2 btn\">").text(data[i] + " ").data('tagName', data[i]));
                }
                if (data[(data.length / 2) + i] > 0 && data[(data.length / 2) + i] < 2) {
                    $(".tag-cloud").append($("<button id='PostsByTag' class=\"tag-cloud-mock-1 btn\">").text(data[i] + " ").data('tagName', data[i]));
                }
            };
        };

        function createDiv(post) {
            return '<div class="blog-posts"><div id="post-' + post.PostId + '" class="post-' + post.PostId + '">' +
                '<div class="post-teaser"><div class="post-header"><h1>' + post.Title + '</h1>' +
                '<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="sarah">Sarah</span> ' +
                '<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="date-string">' + post.DateString +
                '</span> <span class="category-name">' + getList(post.Categories) + '</span></p></div>' +
                '<div id="bodyWrap' + post.PostId + '"><div id="wrapper' + post.PostId + '" class="post-summary">' + post.Posting + '</div><button id="btn' + post.PostId + '"onClick="destroyClick(' + post.PostId + ')" class="btn btn-xs btn-danger post-teaser-btn">Read More</button></div>' +
                '<div class="post-footer"><p> <span class="tag-keywords">' + getTagList(post.Tags) + '</span></p></div></div></div></div>';
        };

        function getList(item) {

            var itemList = "";
            for (var i = 0; i < item.length; i++) {

                itemList += '<span class="label label-warning"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> ' + item[i].CategoryName + '</span><span> </span>';
            };
            return itemList;
        };

        function getTagList(item) {

            var itemList = "";
            for (var i = 0; i < item.length; i++) {

                itemList += '<span class="label label-primary"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>  ' + item[i].Name + '</span><span> </span>';
            };
            return itemList;

        };

    </script>




    @if (Request.IsAuthenticated && (User.IsInRole("User") || (User.IsInRole("SuperUser"))))
    {
        <script src="~/Scripts/app/CreatePost.js"></script>
    }
}



