﻿@using System.ServiceModel.Configuration
@using System.Web.UI.WebControls
@model MSRM.Capstone.Model.StaticPage

@{
    ViewBag.Title = "Create Static Page";
}

<h2>Create Static Page</h2>


<div class="form-horizontal">
    <a class="btn btn-primary btn-sm" href="/Admin/ManagePages" role="button">Return to Manage Pages</a>
    @using (Html.BeginForm("CreateStaticPage", "Admin"))
    {
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="StaticPageTitle" class="form-control" value="Enter Page Title"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <p class="enter-content">Enter Page Content Below</p>
                <textarea id="pageText"></textarea>
                <input id="StaticPageContent" name="StaticPageContent" type="hidden" value="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input id="btnSubmit" type="submit" value="Publish"/>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            tinyMCE.triggerSave();
            $('#btnSubmit').click(function () {
                var inputs = tinyMCE.get('pageText').getContent();
                $('#StaticPageContent').val(inputs);
            });
        });
    </script>
    }

