﻿@model List<MSRM.Capstone.Model.StaticPage>

@{
    ViewBag.Title = "ManagePages";
}

<h2>Manage Pages</h2>

<div class="page-title-list">
    <a class="btn btn-primary btn-sm" href="/Admin/CreateStaticPage" role="button">Create New Page</a>
    <table id="titles" class="table table-striped page-title-list">
        @*<thead>
            <tr>
                <th>Page ID</th>
                <th>Page Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>About</td>
                <td>
                    <button class="btn btn-danger btn-sm">DELETE</button>
                </td>
            </tr>
            </tbody>*@
    </table>
</div>

@section scripts{

    <script>
        var uri = '/api/StaticPages/';

        $(document).ready(function () {
            GetPageHeadersForTable();

            $(document).on("click", '#Delete', function (e) {
                e.preventDefault();
                var link = $(this);
                var staticPageId = $(link).attr("name");
                DeletePage(staticPageId);
            });

            //$(document).on("click", '#Edit', EditPage);

        });

        function GetPageHeadersForTable() {
            $.getJSON(uri + 'GetPageHeaders').done(function (data) {
                $('#titles').empty();
                $(recreateTableHead()).appendTo($('#titles'));
                $.each(data, function (index, titles) {
                    $(createRow(titles)).appendTo($('#titles'));
                });
                $(recreateCLoseTableBody()).appendTo($('#titles'));
            });
        };

        function recreateTableHead() {
            return '<thead><tr><th>Page ID</th><th>Page Title</th><th>Action</th></thead><tbody></tr>';
        }

        function createRow(row) {
            console.log(row);
            return '<tr><td>' + row.StaticPageId + '</td><td>' + row.StaticPageTitle + '</td>' +
                '<td>' +
                '<a id="Delete" name="' + row.StaticPageId + '" class="btn btn-danger btn-sm" href="#/" role="button">Delete</a></td>';
        };

        //<a id="Edit" class="btn btn-warning btn-sm" href="#/' + row.StaticPageId + '" role="button">Edit</a> 
        function recreateCLoseTableBody() {
            return '</tbody>';
        }

        function DeletePage(id) {
            $.ajax({
                url: '/api/StaticPages/Delete/' + id,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/ManagePages";
                },
                error: function (xhr, status, err) {
                    alert('error: ' + err);
                }
            });
        }

    </script>
}



@*@foreach (var page in Model)
    {
        <label>Title:</label>

        <br/>

        <p>@Html.DisplayFor(m => page.StaticPageTitle)</p>
        <p>@Html.ActionLink("Edit Page", "EditPage", "Admin")</p>
        <button class="btn btn-danger">Delete Page</button>
    }*@