﻿
@{
    ViewBag.Title = "PostManagement";
}

<h4>Post Management</h4>

<div class="main">

    <div class="row">
        <div id="errormsg"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Request.IsAuthenticated && (User.IsInRole("SuperUser")))
            {
                <select class="form-control selections">
                    <option value="1">Draft</option>
                    <option value="2">Review</option>
                    <option value="3">Decline</option>
                    <option value="4">Published</option>
                </select>
            }
            else if (Request.IsAuthenticated && (User.IsInRole("User")))
            {
                <select class="form-control selections">
                    <option value="1">Draft</option>
                    <option value="2">Review</option>
                    <option value="3">Decline</option>
                </select>
            }
        </div>
    </div>
    <div class="row">
        <div id="posts" class="col-md-12">
            <div id="post-postId" class="post-postId">
                <div class="post-teaser">
                    <div class="post-header">
                        <h1>Title</h1>
                        <p>
                            Sarah | <span class="date-string">Date</span>
                            <span><button class="btn btn-warning post-teaser-btn pull-right">Open</button></span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="pager">
                <li class="previous" id="new"><a href="#">&larr; Newer</a></li>
                <li class="next" id="old"><a href="#">Older &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>
@Html.Partial("_SinglePostModel")
@section scripts{
    <script>
        var postUri = '/api/posts/';

        var pageNum = 1;
        var totalPostNum;
        var maxPage;

        var data = {
            id: 1,
            size: 10,
            status: $('.selections').val()
        };

        $(document).ready(function() {
            getAllPosts(data);
            $('.selections').change(function () {
                data.status = $('.selections').val();
                getAllPosts(data);
            });
            $('#submitChanges').click(function() {
                updatePost();
                $('#singlePost').modal('hide');
            });
            $('#singlePost').change(function() {
                $('#submitChanges').prop('disabled', false);
            });

            $('#old').click(function () {
                if (maxPage != pageNum) {
                    pageNum++;
                    data.id = pageNum;
                    getAllPosts(data);
                }
            });
            $('#new').click(function () {
                if (pageNum > 1) {
                    pageNum--;
                    data.id = pageNum;
                    getAllPosts(data);
                }

            });
            
        });
        
        function getSinglePosts(id) {
            $("#categoryModal").tagit("removeAll");
            $("#tagModal").tagit("removeAll");
            $('#submitChanges').prop('disabled', true);
            $('#singlePost').modal('show');
            $.getJSON(postUri + 'GetSinglePost/' + id).done(function(data) {
                $('#postId').val(id);
                $('#headingModal').val(data.Title);
                $('#categoryModal').val(getList(data.Categories));

                $('#tagModal').val(getTagList(data.Tags));
                tinyMCE.activeEditor.setContent(data.Posting);
                $('#rad' + data.StatusId).prop('checked', true);
                if (data.StatusId == 3) {
                    $('#rad' + 2).prop('checked', true);
                }
            });
        };

        function getList(item) {

            var itemList = "";
            for (var i = 0; i < item.length; i++) {
                $("#categoryModal").tagit("createTag", item[i].CategoryName);
                itemList += item[i].CategoryName;
                if (i != item.length - 1) {
                    itemList += ',';
                }
            };
            return itemList;
        }

        function getTagList(item) {

            var itemList = "";
            for (var i = 0; i < item.length; i++) {
                $("#tagModal").tagit("createTag", item[i].Name);
                itemList += item[i].Name;
                if (i != item.length - 1) {
                    itemList += ',';
                }
            };
            return itemList;
        }

        function getAllPosts(data) {
            $.getJSON(postUri + 'get/', data).done(function(data) {
                $('#posts').empty();
                totalPostNum = data.Total;
                maxPage = Math.floor(totalPostNum / 10);
                if (totalPostNum % 10 > 0) {
                    maxPage++;
                }
                $.each(data.Posts, function(index, post) {
                    $(createDiv(post)).appendTo($('#posts'));
                });
            });
        };

        function updatePost() {
            var updatedPost = {};
            var post = {};
            updatedPost.post = post;

            updatedPost.post.PostId = $('#postId').val();
            updatedPost.post.Title = $('#headingModal').val();
            updatedPost.post.Posting = tinyMCE.get('postModal').getContent();
            updatedPost.post.StatusId = $('input[name="status"]:checked').val();
            updatedPost.CategoryString = $('#categoryModal').val();
            updatedPost.TagString = $('#tagModal').val();

            $.post(postUri + 'Update/', updatedPost).done(function() {
                    getAllPosts(data);
                })
                .fail(function(jqXhr, status, error) {
                    //$(errorMessage(error)).appendTo($('#errormsg'));
                });
        }

        function createDiv(post) {
            return '<div class="blog-posts"><div id="post-' + post.PostId + '" class="post-' + post.PostId + '">' +
                '<div class="post-teaser"><div class="post-header"><h1>' + post.Title + '</h1>' +
                '<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="sarah">Sarah</span> ' +
                '<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="date-string">' + post.DateString +
                '</span>  <span><button id="btnModal" onClick="getSinglePosts(' + post.PostId + ')" "data-toggle="modal" data-target="#singlePost" class="btn btn-warning btn-xs post-teaser-btn pull-right">Open</button></span></p></div></div>';
        };

        $("#tagModal").tagit({
            placeholderText: "Tags",
            allowSpaces: true

        });
        $("#categoryModal").tagit({
            placeholderText: "Categories",
            allowSpaces: true
        });
    </script>
}