﻿@model List<MSRM.Capstone.Model.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <h1>Messages Home Page</h1>
</div>

<br/>

<div>
    <table id="messages" class="table table-striped">
        <thead>
        <tr>
            <th>
                <h4 align="center">Read/Unread</h4>
            </th>
            <th>
                <h4 align="center">Date</h4>
            </th>
            <th>
                <h4 align="center">From</h4>
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody align="center">

        </tbody>
    </table>
    @Html.Partial("_MessageDetailsModal")
</div>

<br/>

<div>
    @Html.ActionLink("Return To Admin Page", "Index", "Admin", null, new { @class = "btn btn-warning btn-block" })
    <br />
</div>

@section Scripts
{
    <script>
        var msgUri = '/api/Messages/';

        $(document).ready(function() {
            loadMsgs();
            $(document).on("click", ".btnDeleteMsg", function(e) {
                e.preventDefault();
                var btn = $(this);

                $.ajax(msgUri + 'DELETE/' + btn.data("msgId"), {
                    method: "DELETE"

                }).success(function(data) {
                    $(btn).parent().parent().remove();
                });
            });
        });

        function loadMsgs() {
            $.getJSON(msgUri + 'GET/').done(function (data) {
                $('#messages tbody tr').remove();

                $.each(data, function(index, msg) {
                    $(createRow(msg)).appendTo($('#messages tbody'));
                });
            });
        };

        function createRow(msg) {
            var tr = $("<tr></tr>").attr('id',"msgId"+msg.MessageId);
            tr.append($("<td></td>").text(msgConverter(msg.isRead)))
                .append($("<td></td>").text(msg.DateString))
                .append($("<td></td>").text(msg.FirstName + " " + msg.LastName) )
                .append($("<td></td>")
                    .append($('<button class="btnViewDetails btn btn-info btn-xs"></button>').text("View Message").data('msgId', msg.MessageId)))
                .append($("<td></td>")
                    .append($('<button class="btnDeleteMsg btn btn-danger btn-xs"></button>').text("Delete Message").data('msgId', msg.MessageId)));

            return tr;
        };

        function msgConverter(item) {
            if (item === 0) {
                return "Unread";
            } else {
                return "Read";
            };
        };
    </script>

<script src="~/Scripts/app/ViewMessage.js"></script>
}