﻿@using BotDetect.Web.Mvc
@model MSRM.Capstone.Model.Message

@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css"/>
</head>

<div align="center">
    <h1>Send A Message</h1>
    <h3>
        Please Fill Out the Following Form.<br />
        We Will Reply Soon!
    </h3>
</div>

<br/><br/>

<form id="SendMsgForm" method="post" >
    <div align="center">
        <div class="form-group">
            <h4>First Name:</h4>
            <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name" required="required"/>
            <br/>
        </div>
        <div class="form-group">
            <h4>Last Name:</h4>
            <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name" required="required"/>
            <br/>
        </div>
        <div class="form-group">
            <h4>E-Mail Address: </h4>
            <input type="text" class="form-control" name="EmailAddress" id="EmailAddress" placeholder="E-Mail Address" required="required"/>
            <br/>
        </div>
        <div class="form-group">
            <h4>Message Body:</h4>
            <textarea class="form-control" rows="4" name="MessageBody" id="MessageBody" placeholder="Your Message Goes Here." required="required"></textarea>
            <br/>
        </div>
        <div class="form-group">
            <h4>Prove you are not a Bot to Send Message: </h4>
            <br/>
            @{MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");}
            @Html.Captcha(exampleCaptcha)
            @Html.TextBox("CaptchaCode")
            <br/>
        </div>
        <div>
            <h4 align="center">Please Note: After sending, you will be redirected to the Home Page.</h4>
            <button type="submit" class="btnSendMsg btn btn-info btn-block">Send</button>
            <br/>
            @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn btn-danger  btn-block"})
            <br/>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/app/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/app/MessageValidation.js"></script>
    <script src="~/Scripts/app/AddMessage.js"></script>
}